export INTERSIGHT_API_OAUTH2_ID="1234567890"
export INTERSIGHT_API_OAUTH2_SECRET="1234567890"

export INTERSIGHT_API_KEY_ID_V2="1234567890"
export INTERSIGHT_API_PRIVATE_KEY_V2=/<PATH_TO_KEY_FILE>/private_key_v2_rsa_example.pem

export INTERSIGHT_API_KEY_ID_V3="1234567890"
export INTERSIGHT_API_PRIVATE_KEY_V3=/<PATH_TO_KEY_FILE>/private_key_v3_ec_example.pem